requests
websocket-client
aiohttp
dnspython
pystyle
pyinstaller
Pillow
pycryptodome
pywin32
selenium
beautifulsoup4
pysocks
piexif
exifread
mutagen
pynput
psutil
qrcode[pil]
PyQt5
discord.py
mnemonic
